@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Garamond';
    src: url('../fonts/EB_Garamond/EBGaramond-Regular.ttf')  format('truetype');
}

body {
    font-size: 24px;
}

h1, h2, h3 {
    font-family: 'Raleway';
    font-size: 2em;
    color: #0E0B16;
}

p {
    font-family: 'Garamond';
}

#lead h1 {
    font-size: 3em;
}

#lead-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #E7DFDD;
    z-index: -1;
}

#main_social_icons {
    margin-top: 2em;
}

.main_social_icon {
    width: 2em;
    margin-right: 2em;
}

#skills-background {
    background-image: url('../images/skills_background.jpg');
    filter: blur(3px);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #0E0B16 transparent transparent;
    left: 3em;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #0E0B16;
    right: 3em;
}

#fp-nav ul li .fp-tooltip {
    color: #0E0B16;
    font-size: 0.6em;
}